@import "variables";

@import "~@mrgoodbytes8667/style-brands/css/brand";

$twitch-colors-white-text: (
        twitch-purple : $twitch-purple,
        twitch-accent-dragon : $twitch-accent-dragon,
        twitch-accent-cuddle : $twitch-accent-cuddle,
        twitch-accent-bandit : $twitch-accent-bandit,
        twitch-accent-lightning: $twitch-accent-lightning,
        twitch-accent-ko : $twitch-accent-ko,
        twitch-accent-mega : $twitch-accent-mega,
        twitch-accent-nights : $twitch-accent-nights,
        twitch-accent-osu : $twitch-accent-osu,
        twitch-accent-sniper : $twitch-accent-sniper,
        twitch-accent-egg : $twitch-accent-egg,
        twitch-accent-legend : $twitch-accent-legend,
        twitch-accent-zero : $twitch-accent-zero
);

$twitch-colors-black-text: (
        twitch-muted-ice : $twitch-muted-ice,
        twitch-muted-jiggle : $twitch-muted-jiggle,
        twitch-muted-worm : $twitch-muted-worm,
        twitch-muted-isabelle : $twitch-muted-isabelle,
        twitch-muted-droid : $twitch-muted-droid,
        twitch-muted-wipeout : $twitch-muted-wipeout,
        twitch-muted-smoke : $twitch-muted-smoke,
        twitch-muted-widow : $twitch-muted-widow,
        twitch-muted-peach : $twitch-muted-peach,
        twitch-muted-pac-man : $twitch-muted-pac-man,
        twitch-muted-felicia : $twitch-muted-felicia,
        twitch-muted-sonic : $twitch-muted-sonic
);

.btn-twitch {
  @include btn($twitch-purple, $twitch-ice);
}

.btn-twitch:hover {
  @include btn-hover($twitch-purple, $twitch-ice);
}

.btn-twitch-white {
  @include btn($twitch-ice, $twitch-purple);
}

.btn-twitch-white:hover {
  @include btn-hover($twitch-ice, $twitch-purple);
}

.bg-twitch {
  @include bg($twitch-purple);
}

.text-twitch {
  @include text($twitch-purple);
}

.border-twitch {
  @include border($twitch-purple);
}

@each $name, $color in $twitch-colors-white-text {
  .btn-#{$name} {
    @include btn($color, $twitch-ice);
  }

  .btn-#{$name}:hover {
    @include btn-hover($color, $twitch-ice);
  }

  .btn-#{$name}-inverse {
    @include btn($twitch-ice, $color);
  }

  .btn-#{$name}-inverse:hover {
    @include btn($color, $twitch-ice);
  }

  .bg-#{$name} {
    @include bg($color);
  }

  .text-#{$name} {
    @include text($color);
  }

  .link-#{$name} > a {
    @include link($color);
  }

  .link-#{$name}:hover > a {
    @include link-hover($color);
  }

  .border-#{$name} {
    @include border($color);
  }
}

@each $name, $color in $twitch-colors-black-text {
  .btn-#{$name} {
    @include btn($color, $twitch-blackops);
  }

  .btn-#{$name}:hover {
    @include btn-hover($color, $twitch-blackops);
  }

  .bg-#{$name} {
    @include bg($color);
  }

  .text-#{$name} {
    @include text($color);
  }

  .link-#{$name} > a {
    @include link($color);
  }

  .link-#{$name}:hover > a {
    @include link-hover($color);
  }

  .border-#{$name} {
    @include border($color);
  }
}
