$twitch-purple: #6441A4;
$twitch-ice: #F0F0FF;

$twitch-blackops: #000000;
$twitch-muted-ice: $twitch-ice;
$twitch-muted-jiggle: #FAB4FF;
$twitch-muted-worm: #FACDCD;
$twitch-muted-isabelle: #FEEE85;
$twitch-muted-droid: #BEFAE1;
$twitch-muted-wipeout: #00C8AF;
$twitch-muted-smoke: #D2D2E6;
$twitch-muted-widow: #BFABFF;
$twitch-muted-peach: #FC6675;
$twitch-muted-pac-man: #FFCA5F;
$twitch-muted-felicia: #57BEE6;
$twitch-muted-sonic: #0014A5;
$twitch-accent-dragon: #8205B4;
$twitch-accent-cuddle: #FA1ED2;
$twitch-accent-bandit: #FF6905;
$twitch-accent-lightning: #FAFA19;
$twitch-accent-ko: #BEFF00;
$twitch-accent-mega: #00FAFA;
$twitch-accent-nights: #41145F;
$twitch-accent-osu: #BE0078;
$twitch-accent-sniper: #FA2828;
$twitch-accent-egg: #00FA05;
$twitch-accent-legend: #69FFC3;
$twitch-accent-zero: #1E69FF;